################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/WindowsFormsApp1/v16/Server/sqlite3/db.lock
/packages/TreeViewAdv.1.7.0.0
/WindowsFormsApp1/bin/Debug/Aga.Controls.dll
